@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Remove outline for non-keyboard users */
:focus:not(:focus-visible) {
  outline: none;
}

.grid {
  background-image: linear-gradient(to right, #efefef 1px, transparent 1px),
    /* vertical dots */ linear-gradient(to bottom, #efefef 1px, transparent 1px); /* horizontal dots */
  background-size: 10px 10px; /* size of each grid cell */
  background-color: white; /* set the background color */
}

.dot-grid {
  background-image: radial-gradient(rgb(209, 209, 209) 1px, transparent 1px);
  background-size: 10px 10px;
}
